* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  /* border: gainsboro solid 1px; */
}

.booking-main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgb(69, 157, 133, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booking-empty {
  padding: 10px;
  background-color: #fff;
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.booking-separateur-vide {
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking {
  font-size: 14px;
  padding: 20px;
  background-color: #fff;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  /* overflow: auto; */
}

.booking-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f4eeee;
  border-radius: 4px;
  border: none;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  width: 100%;
}

.booking-book-button {
  padding: 5px 10px;
  background-color: #459d85;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.booking-total {
  height: auto;
  width: 600px;
  padding: 20px;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #00153e;
  border-radius: 0 0 8px 8px;
}

.booking-book-succes {
  color: #459d85;
  font-weight: 500;
  font-size: 14px;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #00153e;
}
